<html>
<body>
  <h1> Hello, Nathen. This is Anshu!</h1>
  <p>
  My name is <%= node["hostname"] %>.
  Current User is <%= node["current_user"] %>.
  Total Memory is <%= node["memory"] ["total"] %>
  </p>
</body>
</html>